

<mat-toolbar color="primary">
  <mat-toolbar-row>

    <h1>Contact Deatils</h1>
    <span class="menu-spacer"></span>

  </mat-toolbar-row>


</mat-toolbar>




<mat-sidenav-container>
  <mat-sidenav opened mode="side">
    <div class="btn-group">

      <button (click)="createContact()">Create Details</button>
   <a routerLinkActive="active" routerLink="/contact-detail"> <button>Show Details</button></a>


    </div>
  </mat-sidenav>

  <mat-sidenav-content>




<!-- <app-contact-detail></app-contact-detail> -->

<router-outlet></router-outlet>



