



mat-sidenav-content{
  background-color: #c9bbe9;
  height: 700px ;
}

mat-sidenav{
  width: 200px ;
  height: 700px ;
}
.btn-group button {
  background-color: #d4beec; /* Green background */
  border: 1px solid #ffffff; /* Green border */
  color: #000000; /* White text */
  padding: 10px 24px; /* Some padding */
  width: 100%; /* Set a width if needed */
  font-size: 14px;
  font-family: Lato;
  font-weight: bold;

}

.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #651494;
  color: #FFFFFF; /* White text */
  font-size: 14px;
  font-family: Lato;
  font-weight: bold;

}
